
.inner {
  margin: 26% auto;
  width: 610px;
}

hr {
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
  height: 1px;
  line-height: 1px;
  margin-bottom: 49%;
  margin-top: 49%;
}

p {
  margin-bottom: 20px;
}
