<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>xh3b4sd</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono" integrity="sha512-CVHRzeBsqbSo9W+EjHL7pkkfjaf/ymCu8pBzC0KIHuuo5qq/uI7ek1vQph5j2ioAKm6SFqjZMExkw/0W4Y0ysg== sha512-8juT2juXD5N87yDvfmPHgTXopYpgBzNMkzb3IEc/BefbfmoDS9dkwBvNYPizMFFoeiAK3YsltmHY73qkaR4IZQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <section id="main_content">
          <h3 class="quote">not because they are easy but because they are hard</h3>
          {{ content }}
        </section>
      </div>
    </div>
    <script type="text/javascript">
      var l = document.getElementById("main_content").querySelectorAll("h3:not(.quote)");
      var r = l[Math.floor(Math.random()*l.length)];
      var h = document.getElementsByClassName("quote")[0];
      h.textContent = r.textContent
      h.classList.toggle("visible");
    </script>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
